# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.pynb_checkpoints/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# iPython
.ipynb_checkpoints/
Max/MNIST_Loading.ipynb
Max/train-images.idx3-ubyte
Max/train-labels.idx1-ubyte
Max/MNIST_Digits/0s-img-dataset.npy
Max/MNIST_Digits/1s-img-dataset.npy
Max/MNIST_Digits/2s-img-dataset.npy
Max/MNIST_Digits/3s-img-dataset.npy
Max/MNIST_Digits/4s-img-dataset.npy
Max/MNIST_Digits/5s-img-dataset.npy
Max/MNIST_Digits/6s-img-dataset.npy
Max/MNIST_Digits/7s-img-dataset.npy
Max/MNIST_Digits/8s-img-dataset.npy
Max/MNIST_Digits/9s-img-dataset.npy

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Report Assets
Assets/
Results/
correction.png
